{% extends "basebase.html" %}
{% import 'macros.html' as macro %}

{#
use this as a base for the rest of the site templates.
the index page template can be an exception (sometimes the landing page has design differing from the rest of the app
#}


{% block site_content %}
    <section id="section" class="section">
        <div class="section-inner">
            <div class="container section-content">
                {{ macro.flash_messages() }}

                {% block content %}

                {#   use this block to put your content in extending templates #}

                {% endblock %}
            </div>
        </div>
    </section>
{%  endblock %}


