{% import "bootstrap/wtf.html" as wtf %}


{% macro flash_messages() %}
    {# if in the view function, flash() has been used, use this macro to print it   #}
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% for category, message in messages %}
        <div class="alert alert-{{ category | default('info',true) }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% endwith %}
{% endmacro %}




{% macro table(headers = []) -%}
{#
Example usage:
{% call table(headers=['id','username']) %}
    {% for u in user_array %}
        {% print_row([u.id, u.name]) %}
    {% endfor %}
{% endcall %}
#}
  <table class="table table-striped">
  	  {% if headers %}
  	  <thead>
  		  <tr>
  		  {% for header in headers  %}
  		  <th>{{header}}</th>
  		  {% endfor %}
  		  </tr>
  	  </thead>
  	  {% endif %}
  	<tbody>
  	  {{ caller() }}
  	</tbody>
  </table>
{%- endmacro %}

{% macro print_row(row = []) %}
    {# used together with the table macro   #}
		<tr>
			{% for row_element in row %}
			<td>
				{{row_element}}
			</td>
			{% endfor %}
 		</tr>
{%- endmacro %}


{% macro make_link_btn(link, text,color='primary',size='btn-xs', new_page=False, extra_class="") %}
    {# given a link and text, make a bootstrap button #}
  <a class="btn btn-{{color}} {{ size }} {{ extra_class }}" href="{{link}}" role="button" target="{{ '_blank' if new_page else '_self' }}">{{text}}</a>
{% endmacro %}

{% macro fa_icon(name, margin_left=0, margin_right=5) %}
    {#
    output font awesome icon

    :attr name - fa icon, as shown on their site. http://fontawesome.io/icons/
    #}
    <i class="fa fa-{{ name }}" aria-hidden="true" style="margin-right: {{ margin_right }}px; margin-left: {{ margin_left }}px"></i>
{% endmacro %}


{% macro print_copyright_years() %}
    {% set first_year = 2016 %}
    {% set current_year =  datetime.now().year %}

    {% if first_year == current_year -%}
    {{ first_year }}
    {% else %}
    {{ first_year }} - {{ current_year }}
    {% endif %}
{% endmacro %}

